/*==========  Desktop First Method  ==========*/
@media (min-width: 0px) and (max-width: 480px){	
	html {
		font-size: 8px;
		overflow-x: hidden;
	}
	section#information {
		.information-txt {
			h2 {
				font-size: 2.7rem;
			}
			p {
				width: 100%;
			}
		}
	}
		section#works {
			min-height: 500px;
			.works-inf {
			p {
				width: 100%;
			}
			h2 {
				font-size: 3rem;
			}
		}
	}
		.works {
		&-slider {
			img {
				max-width: 270px !important;
				max-height: 478px;
				display: none;
			}
			.prev {
				left: 0px !important;
				img {
					width: 1.5rem !important;
					height: 3.5rem !important;
				}
			}
			.next {
				right: 0px !important;
				img {
					width: 1.5rem !important;
					height: 3.5rem !important;
				}
			}
		}
	}
	section#price {
		min-height: 1500px;
	.price {
		&-txt {
			h2 {
				font-size: 2.2rem;
			}
			p {
				font-size: 1.8rem;
				width: 100%;
			}
		}
	}
}
  section#price {
	.price-inf {
		.btn {
			align-self: flex-center;
			margin: auto 10px 10px 10px;
		}
	}
	.price-add {
		p {
			width: 100%;
		}
	}
}
	section#send {
		.send-get {
			p {
				max-width: 100%;
			}
		}
		.send-form {
			width: 35rem;
		}
	}
.footer {
	background-color: #fcfcfc;
	&-all {
		display: block;
	}
	&-inf {
		display: block;
		text-align: center;
	}
	&-nav {
		ul {
			display: block;
			margin-top: 10px;
			padding: 0;
			text-align: center;

		}
		ul li {
			display: block;
		}
		li {
			padding-bottom: 10px;
		}
	}
  }
}//media
@media (min-width:481px) and (max-width:767px){
	html {
		font-size: 8px;
	}
	section#information {
		.information-txt {
			h2 {
				font-size: 3rem;
			}
			p {
				width: 100%;
			}
		}
	}
	section#works {
		min-height: 500px;
		.works-inf {
			p {
				width: 100%;
			}
		}
	}
	.works {
		&-slider {
			img {
				max-width: 400px !important;
				max-height: 478px;
				display: none;
			}
			.prev {
				left: 0px !important;
			}
			.next {
				right: 0px !important;
			}
		}
	}
	section#price {
	.price {
		&-txt {
			h2 {
				font-size: 2.2rem;
			}
			p {
				font-size: 1.8rem;
				width: 100%;
			}
		}
	}
}
  section#price {
  	min-height: 1500px;
	.price-inf {
		.btn {
			align-self: flex-center;
			margin: auto 10px 10px 10px;
		}
	}
}
	section#send {
		.send-get {
			p {
				max-width: 100%;
			}
		}
	}
	.footer {
	background-color: #fcfcfc;
	&-all {
		justify-content: center;
	}
  }
.footer {
	background-color: #fcfcfc;
	&-all {
		justify-content: center;
	}
	&-inf {
		margin-left: 10%;
	}
  }
}//media
@media (min-width:768px) and (max-width:991px){
		section#information {
		.information-txt {
			p {
				width: 100%;
			}
		}
	}
	.works {
		&-slider {
			.prev {
				left: -20px !important;
			}
			.next {
				right: -20px !important;
			}
		}
	}
	section#price {
	.btn {
		width: 22rem !important;
		margin: auto !important;
	}
	.price {
		&-txt {
			h2 {
				font-size: 2.2rem;
			}
			p {
				font-size: 1.8rem;
			}
		}
		&-head {
			width: 22rem;
		}
		&-body {
			width: 22rem;
		}
	}
  }
  section#price {
	.price-inf {
		.btn {
			align-self: flex-center;
			margin: auto 10px 10px 10px;
		}
	}
}
.footer {
	background-color: #fcfcfc;
	&-all {
		justify-content: center;
	}
  }
}//media

