@import "media.less";

html {
	font-size: 10px;
}

//////////SECTION INFORMATION//////////////////////
section#information {
	height: 400px; 
	.information-txt {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 75px;
		h2 {
			color:  #535a5e;
			font-size: 3.8rem;
			.lato_bold;
		}
		p {
			width: 930px;
			line-height: 1.5;
			margin: 0 auto;
			margin-top: 15px;
			color:  #9fa4a7;
			font-size: 1.6rem;
		}
		img {
			margin: 0 auto;
			margin-top: 60px;
			width: 32px;
			height: 32px;
		}
	}
}

////////SECTION WORKS/////////////////////
section#works {
	color: #fff;
	height: 100vh;
	min-height: 700px;
	background-color: #a4b9be;
	.works {
		&-inf {
			margin-top: 75px;
			h2 {
				font-size: 3.8rem;
				.lato_bold;
			}
			p {
				font-size: 2.1rem;
				width: 546px;
				margin: 20px auto;
			}
		}
		&-slider {
			position: relative;
			img {
				max-width: 100%;
				max-height: 478px;
				display: none;
			}
			.show {
				display: block;
				margin: 0 auto;
			}
			.arrow{
				position: absolute;
				background-color: transparent;
				border: none;
				outline: none;
				img {
					width: 2.3rem;
					height: 4.2rem;
					display: block;
				}
			}
			.prev {
				cursor: pointer;
				left: 30px;
				top: 50%;
			}
			.next {
				cursor: pointer;
				right: 30px;
				top: 50%;
			}
		}
	}
}

//////////SECTION PRICE/////////////////////////
section#price {
	height: 130vh;
	min-height: 900px;
	background-color: #fcfcfc;
	.price {
		&-txt {
			margin-top: 75px;
			h2 {
				font-size: 3rem;
				.lato_bold;
				color:  #535a5e;
			}
			p {
				color:  #98a0a5;
				font-size: 2.1rem;
				width: 605px;
				margin: 25px auto;
			}
		}
	}
	.price-inf {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 29rem;
		height: 45rem;
		.btn {
			align-self: center;
			margin: auto 10px 10px 10px;
			font-size: 1.8rem;
			color: #e1e6ea;
			width: 29rem;
			height: 6rem;
			background-color: #535a5e;
			&:hover  {
			background-color: #282828;
			}
		}
	}
	.price-head {
		margin: 0 auto;
		width: 29rem;
		height: 8.1rem;
		background-color: #535a5e;
		h2 {
			padding-top: 10px;
			font-size: 3rem;
			.lato_light;
			color: #e9eef2;
		}
		span {
			font-size: 1.2rem;
			display: block;
			.lato_light;
			margin-top: -10px;
			color: #d7e6dd;
		}
	}
	.price-body {
		background-color:  #e9eef2;
		width: 29rem;
		height: 275px;
		margin: 0 auto;
		span {
			display: block;
			margin-top: 30px;
			color:  #535a5e;
			font-size: 2.1rem;
		}
		p {
			color:  #535a5e;
			font-size: 2.1rem;
			margin-top: 30px;
		}
	}
	.green {
		background-color: #57af51 !important;
	}
	.blue {
		background-color: #52a2af !important;
	}
	button.blue {
			&:hover {
			background-color: #24CFD1 !important;
		  }
		}
		button.green {
			&:hover {
			background-color: #3EF074 !important;
		  }
		}
	.price-add {
		margin-top: 45px;
		margin-bottom: 45px;
		p {
			color:  #98a0a5;
			font-size: 1.5rem;
			width: 363px;
			height: 36px;
			margin: 0 auto;
			line-height: 1.467;
		}
	}
}

//////////////SECTION SEND/////////////////////////
section#send {
	height: 100vh;
	min-height: 700px;
	background-color:  #2d3035;
	.send-get {
		margin-top: 75px;
		h2 {
			color:  #f1f1f1;
			font-size: 3.8rem;
			.lato_bold;
		}
		p {
			width: 476px;
			margin: 0 auto;
			margin-top: 20px;
			color:  #98a0a5;
			font-size: 2.1rem;
		}
	}
	.send-form {
		margin: 0 auto;
		margin-top: 55px;
		width: 40rem;
		input {
			outline: none;
			height: 6rem;
			background-color: transparent;
			display: block;
			width: 100%;
			margin-bottom: 20px;
			color:  #ffffff;
			font-size: 1.7rem;
			padding-left: 1.5rem;
			border-radius: 3px;
			border-style: solid;
			border-width: 2px;
			border-color:  #e9eef2;
			&::placeholder {
				color: #fff;
			}
		}
		input:focus:required:invalid {
		  border: 2px solid red;
		}
		input:focus:valid {border-color: green;}
		textarea:focus:required:invalid {
		  border: 2px solid red;
		}
		textarea:focus:valid {border-color: green;}
		textarea {
			overflow-y: hidden;
			resize: none;
			color: #fff;	
			outline: none;
			display: block;
			width: 100%;
			margin-bottom: 20px;
			background-color: transparent;
			border-radius: 3px;
			border-style: solid;
			border-width: 2px;
			border-color:  #e9eef2;
			font-size: 1.7rem;
			padding-left: 1.5rem;
			height: 11rem;
			&::placeholder {
				color: #fff;
			}
		}
		.btn {
			width: 100%;
			display: block;
		}
	}
	.send-social {
		margin-top: 35px;
		a {
			display: inline-block;
			background-color: #eaeff3;
			width: 22px;
			height: 22px;
			border-radius: 50px;
			margin-left: 10px;
			&:hover {
				background-color: #ccc;
			}
			i {
				color: #2d3035;
				font-size: 12px;
				padding-top: 5px;
			}
		}
	}
}

///////////FOOTER///////////////////////////
footer {
	min-height: 132px;
}
.footer {
	background-color: #fcfcfc;
	&-all {
		margin-top: 60px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&-inf {
		flex-basis: 420px;
		color:  #535a5e;
		font-size: 1.6rem;
		.lato_bold;
	}
	&-nav {
		flex-basis: 400px;
		ul li {
		list-style-type: none;
		display: inline-block;
		}
		a {
			padding-left: 15px;
			color:  #535a5e;
			font-size: 1.6rem;
			.lato_bold;
			&:hover {
				text-decoration: none;
				color: #777474;
			}
		}
	}
}